# Python
.venv/
__pycache__/
*.pyc
.env
contacts.db
.coverage

# Node
node_modules/

# VSCode
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Angular (Added: 2025-05-22)
dist/
tmp/
app/**/*.js
app/**/*.js.map
bower_components/
.idea/
.sass-cache/
connect.lock/
coverage/
libpeerconnection.log/
npm-debug.log
testem.log
typings/
.angular/
e2e/*.js
e2e/*.map
.DS_Store/
